.App {
    text-align: center;
}

.container {
    margin-top: 30px;
    width: 500px;
    height: 700px;
    border: 1px solid darkslategray;
    background-color: whitesmoke;

}

.flex-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

}

.flex-container > input, p, button {
    display: block;
    margin-top: 50px;
}

.txt {
    font-size: 1.3em;
}

.btn {
    font-size: 1.5em;
    font-weight: bold;
}

.card {
    width: 190px;
    height: 250px;
    border: 1px solid darkblue;
    background-color: lightgray;
    font-size: 1.7em;
    font-weight: 700;
    padding-top: 80px;
    margin-top: 30px;
}

.p-gamer {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
    text-shadow: rgba(97,184,255,0.85) 1px 1px 1px;
    margin-bottom: 0;
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.p-result {
    font-size: 4em;
    font-weight: 700;
    color: rgba(255,8,25,0.85);
}
